.container {
  padding: 0 2rem;
  
  background:   
      linear-gradient(
        to bottom,
        hsl(247.5, 14.29%, 78.04%) 0%,
        hsl(246.53, 14.1%, 77.7%) 8.1%,
        hsl(243.82, 13.62%, 76.75%) 15.5%,
        hsl(239.71, 13%, 75.27%) 22.5%,
        hsl(234.98, 13.15%, 73.1%) 29%,
        hsl(230.43, 13.29%, 70.55%) 35.3%,
        hsl(226.31, 13.43%, 67.73%) 41.2%,
        hsl(222.75, 13.55%, 64.75%) 47.1%,
        hsl(219.74, 13.65%, 61.72%) 52.9%,
        hsl(217.25, 13.74%, 58.74%) 58.8%,
        hsl(215.23, 13.81%, 55.92%) 64.7%,
        hsl(213.62, 13.86%, 53.37%) 71%,
        hsl(212.4, 13.91%, 51.2%) 77.5%,
        hsl(211.53, 14.21%, 49.52%) 84.5%,
        hsl(210.99, 14.86%, 48.43%) 91.9%,
        hsl(210.81, 15.1%, 48.04%) 100%
      );
    

}
.container2{
  padding: 0 2rem;
  background: 
        linear-gradient(
          to bottom,
          hsl(210.81, 15.1%, 48.04%) 0%,
          hsl(210.99, 14.86%, 48.43%)  8.1%,
          hsl(211.53, 14.21%, 49.52%) 15.5%,
          hsl(212.4, 13.91%, 51.2%)  22.5%,
          hsl(213.62, 13.86%, 53.37%) 29%,
          hsl(215.23, 13.81%, 55.92%)  35.3%,
          hsl(217.25, 13.74%, 58.74%) 41.2%,
          hsl(219.74, 13.65%, 61.72%)  47.1%,
          hsl(222.75, 13.55%, 64.75%) 52.9%,
          hsl(226.31, 13.43%, 67.73%) 58.8%,
          hsl(230.43, 13.29%, 70.55%) 64.7%,
          hsl(234.98, 13.15%, 73.1%) 71%,
          hsl(239.71, 13%, 75.27%) 77.5%,
          hsl(243.82, 13.62%, 76.75%)  84.5%,
          hsl(246.53, 14.1%, 77.7%) 91.9%,
          hsl(247.5, 14.29%, 78.04%) 100%
        );

}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;

}

.divButton{
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.divButton2{
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  
}




.divH1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.h2{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 28px;
  color: #141414;
  margin: 0;
}

.h3{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 24px;
  color: #141414;
  margin: 0;
}

.h4{
  display: flex;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #141414;
  margin: 0px;
  text-align: start;
  padding: 0;
  
}

.h4new{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #141414;
  margin: 0px;
  text-align: start;
  text-indent: 15px;
}


.h5{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  color: #141414;
  margin: 0px;
  font-weight: 600;
}

.h5new{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  color: #141414;
  margin: 5px;
  text-align: start;
  text-indent: 15px;
}

.pContact{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 22px;
  color: #141414;
  margin: 0px;
}


.DivPrimaryPresentation{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;  
  gap: 30px; 
}

.divPresentation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:  center;
  gap: 50px;
}

.divStart{
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.fotoCv{
  border-radius: 6px;
  box-shadow: 1px 1px 15px 2px rgb(65, 65, 61);

  width: 230px;
  height: auto;
}


.divLinks{
  padding: 20px;
}
.fotoLink{
  filter: drop-shadow(0px 0px 5px rgb(65, 65, 61));
  padding: 10px;
}

.ButtonHoverPrimary {
  display: inline-block;
  width: 130px;
  height: auto;
  line-height: 40px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid hsla(230, 23.48%, 45.1%, 0.975);
  transition: color .7s;
  z-index: 1;
  font-size: 17px;
  font-family:'Mukta Mahee', sans-serif;
  border-radius: 8px;
  font-weight: 900;
  color: hsla(213.7, 51.77%, 27.65%, 0.996);
  cursor: pointer;
  background: rgba(220, 221, 223, 0.991);
 }
 
 .ButtonHoverPrimary:before {
  content: "";
  position: absolute;
  z-index: -1;
  background:hsla(231.25, 19.83%, 47.45%, 0.972) ;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .ButtonHoverPrimary:hover {
  color: rgba(220, 221, 223, 0.991);
 }
 
 .ButtonHoverPrimary:hover:before {
  top: -30px;
  left: -30px;
 }

 .ButtonLinkHome{
  display: flex;
  flex-direction: row;
  position: sticky;
  bottom: 20px;
  margin: 5px;
  justify-content: flex-end;
  align-items: flex-end;
}



.divCv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:  baseline;
  margin-top: 150px;
  padding: 10px;

}

.divCv:hover{
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0.5px #7b7458;
  transition: 0.5s all;
}


.divCvIzquierda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  width: 80vmin;

}

.divIdiomas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  flex-start;
}


.fotoConocimiento{
  padding-left: 2px;
  padding-right: 2px;
  width: 40px;
  height: 40px;
}

.divSub{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:  center;
  margin-top: 10px;
  
}
.arrowDropDownIcon{
  width: 30px;
  height: 28px;
}


.divCvDerecha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  

}

.divFormación{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  flex-start;
  margin-bottom: 20px;

}

.divConocimientos{
  margin-bottom: 20px;
}

.divPortfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 20px;

  
  
}

.divProyectos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  padding: 20px; 
  width:70vmin;

}

.h3Card{
  font-family: 'Mukta Mahee', sans-serif; 
  font-size: 24px;
  color: #141414;
  filter: drop-shadow(0.5px 0.5px 1px #1414);
  margin: 10px 0px 10px 0;
  text-align: center;
}

.pCard{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #141414;
  margin: 0;
  padding: 0;
  text-align:justify;
  
}


.divCard1{
  border-radius: 10px;
  box-shadow: -0.5px -0.5px 6px 0.5px #141414;
  padding: 20px;

}
.divCard1:hover{
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0.5px #141414;
  transition: 0.5s all;
  
}

.divImgCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin: 5px;
  border-radius: 6px;
  
  
}

.imgCard{
  width: 100%;
  height: 100%;
  border-radius: 6px;
}



.divSobremi{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 180px;
  padding: 10px;
}

.divSobremi:hover{
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0.5px #141414;
  transition: 0.8s all;

}

.divSobremi2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 150vmin;
}

.divIntereses{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  width: 150vmin;

}

.divInteresesTitle{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
}

.divInteresesItems{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.imgMate{
  vertical-align:middle;
  width: 22px;
  height: auto;
}



.divContacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  
}

.divForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #141414;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 0px 12px 0.5px #141414;
  background-color:inherit;
}

.divContactoForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.label {
  padding: 5px;
  width: 100%;
  color: #141414;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: 600;
}
.input{
  border: 1px solid #141414;
  border-radius: 4px;
  padding: 5px;
  width: 100vh;
  background-color:inherit;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 18px;
  color: #141414;
  margin: 5px;
  box-shadow: 0px 0px 0.5px 0.5px #141414;
  resize: none;
  
}

.input::placeholder { 
  color: #282828;
}


.divButtonContacto{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  margin: 5px;
}

.buttonContacto{
  background-color:inherit;
  font-family: 'Mukta Mahee', sans-serif;
  font-weight: 900;
  cursor: pointer;
  padding: 4px;
  font-size: 18px;
  border: 1px solid #141414;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0.5px #141414;
  
}

.buttonContacto:hover{
  box-shadow: 0px 0px 4px 0.5px #141414;
  cursor: pointer;
}





.footerImgs{
  width: 32px;
  height: auto;
  padding-left: 5px;
}



.pFooter{
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 20px;
  color: #141414;
  margin: 0;
}


.footer {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #202020;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}


    @media (max-width: 768px) {

      .container {
        padding: 5px;
      
      }
      .container2{
        padding: 5px;

      }
      
      .main {
        min-height: 80vh;
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      
      .divH1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px;
      }
      
      .h2{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 22px;
        text-align: center;
        color: #141414;
        margin: 0px;
      }
      
      .h3{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 16px;
        color: #141414;
        
      }
      
      .h4{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 14px;
        color: #141414;

      }

      .h4new{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #141414;
        margin: 0px;
        text-align: start;
        text-indent: 15px;
      }
      
      
      .h5{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 14px;
        color: #141414;
        margin: 0px;
        font-weight: 600;
      }
      
      .h5new{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 16px;
        color: #141414;
        margin: 5px;
        text-align: start;
        text-indent: 15px;
      }
      
      .pContact{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 16px;
        color: #141414;
        margin: 0px;
      }
      

      .DivPrimaryPresentation{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;  
        gap: 30px; 
      }

      .divPresentation{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:  center;
      }
      
      .divStart{
        display: flex;
        float: left;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      
      }
      
      
      .fotoCv{
        border-radius: 6px;
        box-shadow: 1px 1px 15px 2px rgb(65, 65, 61);
        margin-bottom: 15px;
        width: 160px;
        height: auto;
      }
      
      
      .divLinks{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
      .fotoLink{
        margin-top: 10px;
        filter: drop-shadow(0px 0px 1px rgb(65, 65, 61));
        padding: 5px;
        width: 80px;
        height: 80px;
      }
      
      .ButtonHoverPrimary {
        display: inline-block;
        width: 85px;
        height: auto;
        line-height: 30px;
        margin: 2px;
        position: relative;
        overflow: hidden;
        border: 2px solid hsla(230, 23.48%, 45.1%, 0.975);
        transition: color .7s;
        z-index: 1;
        font-size: 12px;
        font-family:'Mukta Mahee', sans-serif;
        border-radius: 8px;
        font-weight: 900;
        color: hsla(213.7, 51.77%, 27.65%, 0.996);
        cursor: pointer;
        background: rgba(220, 221, 223, 0.991);
       }
       
       .ButtonHoverPrimary:before {
        content: "";
        position: absolute;
        z-index: -1;
        background:hsla(231.25, 19.83%, 47.45%, 0.972) ;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 100%;
        left: 100%;
        transition: all .7s;
       }
       
       .ButtonHoverPrimary:hover {
        color: rgba(220, 221, 223, 0.991);
       }
       
       .ButtonHoverPrimary:hover:before {
        top: -30px;
        left: -30px;
       }
    
    
    
    .divButton{
        display: flex;
        flex-direction: row;
        position:sticky;
        z-index: 2;
        top: 20px;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 10px;
    }
    
    
    .ButtonLinkHome{
        display: flex;
        flex-direction: row;
        position: sticky;
        bottom: 20px;
        margin: 5px;
        justify-content: flex-end;
        align-items: flex-end;
        z-index: 2;
    }
    

  
      
      .divCv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        margin-top: 100px;
        border: 1px solid #141414;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #141414;
        padding: 10px;
      }

      
      
      .divCvIzquierda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        width: 100%;
      }
      
      .divIdiomas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  flex-start;
      }
      
      
      .fotoConocimiento{
        padding-left: 2px;
        padding-right: 2px;
        width: 30px;
        height: 30px;
      }
      
      .divSub{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:  center;
        margin-top: 10px;
      }
      .arrowDropDownIcon{
        width: 20px;
        height: 20px;
      }
      
      .divCvDerecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        width: 100%;
      
      }
      
      .divFormación{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  flex-start;
        padding: 5px;
      }
      

      
      .divPortfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 20px;
      
        
        
      }
      
      .divProyectos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;
        width: 100%;   
        padding: 8px 2px 8px 2px;     
      
      }
      
      .h3Card{
        /* font-family: 'Cinzel', serif; */
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 22px;
        color: #141414;
        filter: drop-shadow(0.5px 0.5px 1px #1414);
        margin: 10px 0px 10px 0;
        text-align: center;
      }
      
      .pCard{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 14px;
        color: #141414;
        margin: 0;
        padding: 0;
        text-align:justify;
        
      }
      
      
      .divCard1{
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0.5px #141414;
        padding: 15px;
      
      }
      
      .divImgCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        margin: 5px;
        border-radius: 6px;   
      }
      
      .imgCard{
      width: 90%;
      height: 90%;
      border-radius: 6px;
      
      }
  
      
      .divSobremi{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
        padding: 10px;
        border: 1px solid #141414;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #141414;
        padding: 10px;
      }
      
      .divSobremi:hover{
        border-radius: 10px;
        box-shadow: 3px 3px 10px 0.5px #141414;
        transition: 0.8s all;
      
      }
      
      .divSobremi2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
      
      .divIntereses{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
  
      
      }
      
      .divInteresesTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .divInteresesItems{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .imgMate{
        vertical-align: text-bottom;
      }
      
      .divContacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        
        
        
      }
      
      .divForm{
        display: flex;
        flex-direction: column;
        width:87vw;
        justify-content: center;
        border: 1px solid #141414;
        border-radius: 10px;
        margin-top: 20px;
        padding: 5px;
        box-shadow: 0px 0px 10px 0.5px #141414;
        background-color:inherit;
        
      }
      
      .divContactoForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
      }


      .label{
        padding: 5px;
        width: 100%;
        color: #141414;
        font-family: 'Mukta Mahee', sans-serif;
        font-weight: 600;
      }
      .input{
        border: 1px solid #141414;
        border-radius: 4px;
        padding: 5px;
        width: 100%;
        background-color:inherit;
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 16px;
        color: #141414;
        margin: 2px;
        box-shadow: 0px 0px 0.5px 0.5px #141414;
      }
      
      .divButtonContacto{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        margin: 5px;
      }
      
      .buttonContacto{
        background-color:inherit;
        font-family: 'Mukta Mahee', sans-serif;
        font-weight: 900;
        cursor: pointer;
        padding: 5px;
        font-size: 16px;
        border: 1px solid #141414;
        color: #141414;
        border-radius: 4px;
        box-shadow: 0px 0px 2px 0.5px #141414;
        
      }
      

      
      .footerImgs{
        width: 35px;
        height: auto;
        padding-left: 5px;
      }
      
      
      
      .pFooter{
        font-family: 'Mukta Mahee', sans-serif;
        font-size: 18px;
        color: #141414;
        margin: 0;
        display: none;
      }
      
      
      .footer {
        display: flex;
        flex-direction: row;

        padding: 10px 2px 10px 2px;
        border-top: 1px solid #202020;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      
      .footer a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

    }
